body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #D32F2F;
    text-align: center;
}

.collapsible {
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 1.5em;
    text-align: left;
}

.collapsible:hover {
    background-color: #eee;
}

#subsection-history, 
#subsection-products {
    font-size: 1.2em;
    padding: 5px 0;
    margin-left: 20px;
    color: #555;
}

section {
    padding: 10px 0;
}

section h3 {
    margin: 5px 0;
}

.collapsible + section {
    display: none;
}

.active + section {
    display: block;
}
